<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Converter App</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css" />
    <script src="../static/main.js"></script>
</head>
<body>
        <div class="main-container">
            <div class="form">
                <div class="header-text">
                    <h3>Decimal to Hexadecimal Converter</h3>
                </div>
                <div class="hex-value">
                    <p>Hexadecimal Value: 
                        <b> {{ converted_val }} </b>
                    </p>
                </div>
                <form name= "converter-form" method="post" class="converter-form" onsubmit="return validateForm()">
                    <input type="number" name="decimal" placeholder="Enter decimal value here.."/>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
</body>
</html>
